// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users-comments {
  p {
    font-size: 25px;
  }
  .comment-section {
    .far.fa-comment {
      padding-left: 10px;
    }
      border: 1px solid #000;
      width: 70%;
      padding: 5px;
  }
}