#users-histories {
  h1 {
    margin-bottom: 10px;
  }
  p {
    font-size: 25px;
  }
  .history-section {
    width: 70%;
    border: 1px solid #000;
    font-size: 20px;
    padding: 5px;
  }
}