// Place all the styles related to the mystery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mystery-index {
  .content-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;

    .content-block {
      p {
        font-weight: bold;
        border-bottom: solid 3px black;
        font-size: 20px;
        margin: 0;
        padding: 0;
        margin-bottom: 19px;
      }
      border: 2px solid #000;
      padding: 20px;
      width: 70%;
      background-color: ghostwhite;

      .content {
        border: 2px solid #000;
        padding: 10px;
        margin-bottom: 10px;
        background-color: whitesmoke;

        .user-about {
          display: flex;
          background-color: #FFFFBB;

          .image {
            padding-top: 5px;
            img {
              border-radius: 50%;
              background-position: center center;
              width: 40px;
              height: 40px;
            }
          }

          .profile {
            margin-left: 10px;

            .name-word {
              width: 100%;
              display: flex;
              margin-bottom: 5px;

              .name {
                font-weight: bold;
              }

              .word {
                margin-left: 10px;
                font-size: 14px;
              }
            }
            .self-introduction {
              width: 100%;
              font-size: 12px;
            }
          }
        }
        .title-text {
          background-color: lavender;
          .title {
            font-weight: bold;
            text-decoration: none;
          }
          .text {
            padding: 0px;
          }
        }
        .images {
          width: 25%;
        }
        .action-menu {
          display: flex;
          justify-content: flex-end;
          .like {
            padding-left: 10px;
          }
          .comment {
            padding-left: 10px;
            text-decoration: none;
          }
        }
      }
    }

    .sidebar {
      border: 2px solid #000;
      width: 20%;
      padding: 20px;
      .main-title {
        display: flex;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        border-bottom: solid 3px black;
        margin-bottom: 20px;
        .crown-image {
          width:10%;
          padding-right: 5px;
          padding-left: 5px;
        }
      }
      .favorite-ranking {
        border: 2px solid #000;
        padding-top: 0px;
        background-color: floralwhite;
        align-self: start;
        .ranking-title {
          text-align: center;
          background: #ff66ff;/*背景色*/
          padding: 0.5em;/*文字まわり（上下左右）の余白*/
          line-height: 2px;
        }
        .ranking-content {
          list-style: none;
          text-align: left;
          padding-left: 20px;
          .fas.fa-heart {
            color: pink;
          }
        }
      }
      .comment-ranking {
        border: 2px solid #000;
        padding-top: 0px;
        margin-top: 20px;
        background-color: lemonchiffon;
        .ranking-title {
          text-align: center;
          background: #FFCC33;/*背景色*/
          padding: 0.5em;/*文字まわり（上下左右）の余白*/
          line-height: 2px;
        }
        .ranking-content {
          list-style: none;
          text-align: left;
          padding-left: 20px;
        }
      }
      .view-ranking {
        border: 2px solid #000;
        padding-top: 0px;
        margin-top: 20px;
        .ranking-title {
          text-align: center;
          background: #c2edff;/*背景色*/
          padding: 0.5em;/*文字まわり（上下左右）の余白*/
          line-height: 2px;
        }
        .ranking-content {
          list-style: none;
          text-align: left;
          padding-left: 20px;
        }
      }
    }
    .pagination {
      text-align: center;
      .page {
        background-color: #333;
        color: antiquewhite;
        margin: 3px;
        text-align: center;
        padding-left: 5px;
      }
      .next {
        text-align: center;
        padding-left: 5px;
      }
      .page.current {
        padding-right: 5px;
      }
    }
  }
}
