<div class="content-wrapper">
  <div class="content-block">
    <% @posts.each do |post| %>
      <div class="post_<%= post.id %>">
        <%= render 'ajax', post: post %>
      </div>
    <% end %>
  </div>
  <div class="sidebar">
    <div class="box"></div>
    <div class="box"></div>
  </div>
</div>

