<div class="content-wrapper">
  <div class="content-block">
    <div class="content">

    </div>
  </div>
  <div class="sidebar">
    <div class="box"></div>
    <div class="box"></div>
  </div>
</div>

